apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--mc-api
images:
- name: docker.io/metacpan/metacpan-api
  newTag: sha-6c6e023add093e9e788d69431a676bc7bc9c8389
resources:
- prod_sealedsecret.yaml
- ingress.yaml
- ../../base/
