apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--mc-api
images:
- name: docker.io/metacpan/metacpan-api
  newTag: sha-4851aefcf0f8d60ad9e53201718aee47530ee5ee
resources:
- prod_sealedsecret.yaml
- ingress.yaml
- ../../base/
