apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--mc-api
images:
- name: docker.io/metacpan/metacpan-api
  newTag: sha-153c4135916b9573b0d35c227e803887a162f204
resources:
- prod_sealedsecret.yaml
- ingress.yaml
- ../../base/
