apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--mc-api
images:
- name: docker.io/metacpan/metacpan-api
  newTag: sha-ed803250d2298c7cbfff140fff8c80c6ec67387e
resources:
- prod_sealedsecret.yaml
- ingress.yaml
- ../../base/
