apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--mc-api
images:
- name: docker.io/metacpan/metacpan-api
  newTag: sha-2d994a23214c9481caecce5a432409a8097f8c28
resources:
- prod_sealedsecret.yaml
- ingress.yaml
- ../../base/
