apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--mc-api
images:
- name: docker.io/metacpan/metacpan-api
  newTag: sha-180a6704c04d74c7b7cf9012d3a0b5879a418cd9
resources:
- prod_sealedsecret.yaml
- ingress.yaml
- ../../base/
