apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--mc-api
images:
- name: docker.io/metacpan/metacpan-api
  newTag: sha-392b5ae228e256b403e7ffe2ec3fa8487bfa9410
resources:
- prod_sealedsecret.yaml
- ingress.yaml
- ../../base/
