apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--mc-api
images:
- name: docker.io/metacpan/metacpan-api
  newTag: sha-e03fafb56f3fa7a3b9adc3a828c789de8b946c75
resources:
- prod_sealedsecret.yaml
- ingress.yaml
- ../../base/
