apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--mc-api
images:
- name: docker.io/metacpan/metacpan-api
  newTag: sha-ff739230e4e2ea4788c3b3a3fd191e3b4b6cbacf
resources:
- prod_sealedsecret.yaml
- ingress.yaml
- ../../base/
