apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--mc-api
images:
- name: docker.io/metacpan/metacpan-api
  newTag: sha-ee22c4c2af0a3d73d7b55fe0baacda91e635b925
resources:
- prod_sealedsecret.yaml
- ingress.yaml
- ../../base/
