apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--mc-api
images:
- name: docker.io/metacpan/metacpan-api
  newTag: sha-a4a1d4c51b7c17b85c14a4fd099c7519eab1e3c2
resources:
- prod_sealedsecret.yaml
- ingress.yaml
- ../../base/
