apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--mc-api
images:
- name: docker.io/metacpan/metacpan-api
  newTag: sha-b1bddfe45c18f26cdd78874537e80ccbc83b36ce
resources:
- prod_sealedsecret.yaml
- ingress.yaml
- ../../base/
