apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--mc-api
images:
- name: docker.io/metacpan/metacpan-api
  newTag: sha-6b5f24270e64674c8fec4b4fba032b1075224759
resources:
- prod_sealedsecret.yaml
- ingress.yaml
- ../../base/
