apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--mc-api
images:
- name: docker.io/metacpan/metacpan-api
  newTag: sha-c872f9e014689f8fa0b73b085fd9dcc6520a97ed
resources:
- prod_sealedsecret.yaml
- ingress.yaml
- ../../base/
