apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--mc-api
images:
- name: docker.io/metacpan/metacpan-api
  newTag: sha-1fb7479029e2e5ca95ac76986e48ce789fc1b5da
resources:
- prod_sealedsecret.yaml
- ingress.yaml
- ../../base/
