apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--mc-api
images:
- name: docker.io/metacpan/metacpan-api
  newTag: sha-2ede89076746b658919a9cf8f97c3fc5808b5f49
resources:
- prod_sealedsecret.yaml
- ingress.yaml
- ../../base/
