apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--mc-api
images:
- name: docker.io/metacpan/metacpan-api
  newTag: sha-79da3ed84a236a53c1e9b84e4dab89981cfadf25
resources:
- prod_sealedsecret.yaml
- ingress.yaml
- ../../base/
