apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--mc-api
images:
- name: docker.io/metacpan/metacpan-api
  newTag: sha-14e36eb8ad24c1ef447ef2f40ebbb59a81ca7471
resources:
- prod_sealedsecret.yaml
- ingress.yaml
- ../../base/
