apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--mc-api
images:
- name: docker.io/metacpan/metacpan-api
  newTag: sha-24bdbbf45fd1990d0f52ab743942b8d0bca763b6
resources:
- prod_sealedsecret.yaml
- ingress.yaml
- ../../base/
