apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--mc-api
images:
- name: docker.io/metacpan/metacpan-api
  newTag: sha-d2560915848117783379660c3488729afd365ca4
resources:
- prod_sealedsecret.yaml
- ingress.yaml
- ../../base/
