apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--mc-api
images:
- name: docker.io/metacpan/metacpan-api
  newTag: sha-d214f3abd01cba9453f4e3da478862e2b2405ea0
resources:
- prod_sealedsecret.yaml
- ingress.yaml
- ../../base/
