apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--web
images:
- name: docker.io/metacpan/metacpan-web
  newTag: sha-fc522722f88951ef868fbc3f5075e7654e7c27f1
resources:
- fastly-api_sealedsecret.yaml
- purge-fastly-cache.yaml
- prod_sealedsecret.yaml
- namespace.yaml
- ingress.yaml
- ../../base/
