apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps--web
images:
- name: docker.io/metacpan/metacpan-web
  newTag: sha-fa17d9f0c4c10f7e63e1301b3c97e00a7afdb76e
resources:
- fastly-api_sealedsecret.yaml
- purge-fastly-cache.yaml
- prod_sealedsecret.yaml
- namespace.yaml
- ingress.yaml
- ../../base/
